<form [formGroup]='productForm'>
    <p-card>
        <div class="p-fluid p-formgrid p-grid">

            <div class="p-field p-col-12 p-md-3">
                <label for="name">Name</label>
                <input formControlName="name" id="name" type="text" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="weight">lbs / gal</label>
                <input formControlName="weight" id="weight" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="nitrogen">Nitrogen</label>
                <input formControlName="nitrogen" id="nitrogen" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="phosphorus">Phosphorus</label>
                <input formControlName="phosphorus" id="phosphorus" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="potassium">Potassium</label>
                <input formControlName="potassium" id="potassium" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="calcium">Calcium</label>
                <input formControlName="calcium" id="calcium" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="magnesium">Magnesium</label>
                <input formControlName="magnesium" id="magnesium" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="sulfate">Sulfate</label>
                <input formControlName="sulfate" id="sulfate" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="iron">Iron</label>
                <input formControlName="iron" id="iron" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="manganese">Manganese</label>
                <input formControlName="manganese" id="manganese" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="copper">Copper</label>
                <input formControlName="copper" id="copper" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="zinc">Zinc</label>
                <input formControlName="zinc" id="zinc" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="boron">Boron</label>
                <input formControlName="boron" id="boron" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="molybdenum">Molybdenum</label>
                <input formControlName="molybdenum" id="molybdenum" type="number" pInputText required>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="carbon">Carbon</label>
                <input formControlName="carbon" id="carbon" type="number" pInputText required>
            </div>

            <button pButton pRipple [disabled]="!productForm.valid" label="Save" class="p-button-raised p-button-rounded" (click)="onSubmit()"></button>
            
        </div>
    </p-card>
</form>
