<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Thank You for Signing up</h3>
  
        <div class="formGroup" *ngIf="authService.userState as user">
          <p class="text-center">Confirmation mail has been sent to <strong>{{user.email}}</strong>.</p>
        </div>
  
        <div class="formGroup">
          <button type="button" class="btn btn-block btn-success" (click)="authService.sendVerificationMail()">
            Resend Verification Email
          </button>
        </div>
      </div>
  
  
    </div>
  </div>
  