.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid;
}

.product-list-detail {
    flex: 1 1 0;
}

.product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.account-name {
    font-size: 1rem;
    font-weight: 500;
}

.product-description {
    margin: 0 0 1rem 0;
}

.product-list-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
}

.product-grid-item {
    margin: .5em;
    border: 1px solid grey;
}

.product-grid-item-content {
    text-align: center;
}

.product-grid-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}
