<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Forgot Password</h3>
  
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
        <div class="formGroup">
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
            (click)="authService.forgotPassword(passwordResetEmail.value)">
        </div>

        <div class="forgotPassword">
          <span routerLink="/login">Back to Signin</span>
        </div>
      </div>
  
    </div>
  </div>